.mecanism .variationsList {
	margin-left: 1em;
}
.mecanism .variationsList > li {
	margin-bottom: 1em;
	list-style: circle;
}
.mecanism .variationsLists > li.satisfied .consequence {
	background: yellow;
}
